[2021-01-17 18:56] dazzzed opened #1 "Not recording audio"
I'm trying to record video and audio using puppeteer stream, but it's getting written only the video to the output file:

[code]

[2021-01-17 21:10] Flam3rboy commented on #1
i'll have a look tomorrow

[2021-01-19 16:48] Flam3rboy commented on #1
You are writing to a ``.mp4``file however the default format is webm.
Also can you send the ``pathToPageWithVideo`` value

[2021-01-19 16:55] tiagocostafdm commented on #1
@Flam3rboy I've tried with webm and din't work either.
The `pathToPageWithVideo`  I was testing with was https://www.rtp.pt/play/p8157/e518677/telejornal

[2021-01-19 17:05] Flam3rboy commented on #1
also note that chrome doesn't support ``video/mp4``.
Have a look at the [HTML5 MediaRecorder Options](https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder/MediaRecorder)

[2021-01-19 17:08] Flam3rboy commented on #1
weirdly enough everything works without any mimeType options and saving it as an .webm file

[2021-01-19 17:31] tiagocostafdm commented on #1
so you got it to save a file with audio and video by setting the mimeType to `video/webm` and saving as webm?

[2021-01-19 18:06] Flam3rboy commented on #1
yes everything the same

[2021-01-19 19:19] dazzzed commented on #1
@Flam3rboy yes I got it just opened it with another player, thanks.
One more thing, how can I save it as mp3 audio only?

[2021-01-21 13:56] Flam3rboy commented on #1
only if the browser supports mp3 just specify the mimeType

[2021-01-21 13:56] #1 closed

[2021-02-08 02:02] erikKeresztes opened #2 "TypeError: page.getStream is not a function"
This is my code:
[code]
Though even with the example code it gives the same error for me

[2021-02-08 06:24] Flam3rboy commented on #2
ok this is weird, i'll have a look later

[2021-02-08 07:05] Flam3rboy commented on #2
Are you sure you've everything the same as the example code?
Can you send me a screenshot/video of you starting the program?

[2021-02-08 15:44] Johtax commented on #2
Hello, same issue here. Yesterday was working perfectly.
It seems that it doesn't install the video capture extension. Screenshots:

Before:
![chrome_before](https://user-images.githubusercontent.com/30960434/107242909-c6b83b80-6a2c-11eb-8b30-271b2bddcf88.png)

After:
![chrome_after](https://user-images.githubusercontent.com/30960434/107242960-d768b180-6a2c-11eb-8561-652000779cc1.png)

[2021-02-09 03:27] erikKeresztes commented on #2
Weird, I installed it again and it works fine now. No idea why it didn't work before.

[2021-02-09 08:41] #2 closed

[2021-02-12 09:23] javimey commented on #2
Hi,

In my case I am having the same issue using the example code.

` UnhandledPromiseRejectionWarning: TypeError: page.getStream is not a function`

I am using node v14.15.0 and I just did a fresh install and getting the same error:

[code]

[2021-02-13 14:56] erikKeresztes commented on #2
@javimey try installing puppeteer-stream without puppeteer

[2021-02-13 15:05] Flam3rboy commented on #2
I think its a problem, because I'm patching the method. I would be better if I create my own launch & getStream method and not adding it to the puppeteer class.

[2021-02-13 15:08] erikKeresztes commented on #2
@Flam3rboy you could do something like what ghost-cursor does: https://github.com/Xetera/ghost-cursor

[2021-02-18 17:23] Flam3rboy commented on #2
I've now updated the package to use functions instead of patching the methods

[2021-03-12 15:02] williamwesterlund opened #4 "Enable support for headless mode?"
As the title suggests, would it be possible to enable support for headless mode?

[2021-03-12 15:45] Flam3rboy commented on #4
only possible, if puppeteer allows extensions in headless mode:
https://github.com/puppeteer/puppeteer/issues/659

Or if I fundamentally change the library to record the audio and video of a virtual window

[2021-03-12 15:47] williamwesterlund commented on #4
Thank you for fast reply, keep up the good work!

[2021-03-26 18:29] flashjames commented on #4
"only possible, if puppeteer allows extensions in headless mode:"
So I may be wrong, but browserless.io has a solution without using an extension (or have I missed somewhere where they load an extension?)
https://docs.browserless.io/blog/2020/06/09/screencast.html

With code at: https://github.com/browserless/chrome/blob/master/src/apis/screencast.ts

But according to their api, it needs to start

[2021-03-27 09:51] Flam3rboy commented on #4
The solution that browserless uses doesn't support audio and is using the chrome dev tools protocol that could be used in headless mode.
However I'm using the extension api to record the browser tab with video and **audio**.

[2021-03-27 10:14] flashjames commented on #4
@Flam3rboy alright, thank you for that clarification

[2021-03-30 22:08] #4 closed

[2021-04-17 00:06] darksupremo commented on #4
not sure if something changed, but now it shows that it support audio:
https://docs.browserless.io/docs/screencast

"Audio is now supported in our screencast API as of docker version 1.8.0."

[2021-04-17 00:07] Flam3rboy commented on #4
oh interesting, I'll have a look

[2021-04-17 00:10] Flam3rboy commented on #4
@darksupremo https://github.com/browserless/chrome/search?q=Audio
I don't find any code regarding Audio capture and how they did accomplish it

[2021-04-17 00:12] Flam3rboy commented on #4
It seems like they also did my approach and used an extension with tabcapture xD
https://github.com/browserless/chrome/commit/f13a76ccd3d6391c5b97131ed172e4eb33e44711#diff-2671e4d55d68edf7506a2b7773f4f94e2294679a32e4f1719d490baf5dffa06eR13

[2021-04-17 00:13] darksupremo commented on #4
it looks like a old commit, their old implementation was based on extension, but it looks that it's not the case anymore..

[2021-04-17 00:14] Flam3rboy commented on #4
yeah you are right, but I don't find the audio part for the current implementation

[2021-04-17 00:17] darksupremo commented on #4
Yeah, looks like that docs is outdated, it's still not supported :(

changelog:

v1.34.0:
screencast API no longer supports audio or the setPreferences function in order to offer a better video experience. In order to set the width/height, simply set a page width height to what you'd like.

...

1.8.0:
Video capture now supports audio and browser width/height.

[2021-04-27 18:44] srinath999 opened #5 "Headless Support?"
It is a simple query to know if this library supports headless mode.

[2021-04-27 18:45] Flam3rboy commented on #5
no #4

[2021-04-27 18:45] #5 closed

[2021-04-27 19:02] srinath999 commented on #5
There you go
https://github.com/Flam3rboy/puppeteer-stream/blob/3a87d80ae7312d383d15a01ebf905aee6a3b7f6b/src/PuppeteerStream.ts#L61

[2021-05-04 14:24] lakshaytalkstocomputer opened #6 "How to record WebRTC calls on EC2?"
Application in which WebRTC calls happen, do not save the audio in EC2.

[2021-05-04 14:29] Flam3rboy commented on #6
not a problem with puppeteer-stream but rather with the chrome extension api
https://bugs.chromium.org/

[2021-05-04 14:29] #6 closed

[2021-05-05 05:26] lakshaytalkstocomputer commented on #6
A mention to  particular bug or issue number would be helpful, Thanks!

[2021-05-05 05:42] Flam3rboy commented on #6
I’m not sure if there’s already one
I’ve only found this post https://stackoverflow.com/questions/51411243/chromes-tabcapture-api-not-recording-all-audio-on-tab but there isn’t a solution.
So I would suggest you to open a new issue on the chromium bug tracker.

[2021-05-05 06:39] lakshaytalkstocomputer commented on #6
I was able to solve this by creating a ALSA loopback device.

[2021-05-08 17:51] barczaG commented on #6
@lakshaytalkstocomputer can you share your solution? A proof of concept repository would be really helpful! Thanks!

[2021-05-14 23:19] lakshaytalkstocomputer commented on #6
We ( me and  @preetmishra )really did not do anything out of ordinary. We ran the script which had ALSA loopback device setup. and it automatically worked. One thing to note is that  in ec2 we needed to change the kernel to generic one. AWS one doesnt work because we cannot install custom kernel  module (snd-aloop) to it.

[2021-05-15 09:42] preetmishra commented on #6
What follows is the sequence that we followed.

Stack Overflow Kernel Link: https://stackoverflow.com/questions/49538514/sound-driver-snd-aloop-kernel-module-setup-issue-with-aws-ec2-ubuntu-16-04-ins

**Add generic kernel**
[code]

**Change default kernel**
[code]

**List available kernels**
[code]

**Check selected kernel**
[code]

**Download snd-aloop module**
[code]

**Load snd-aloop**
[code]

[2021-05-20 04:32] amsdak15 opened #7 "Running in headless mode?"
Thank you for creating this package. Using this, I am able to record the stream with both audio and video. However, just for an update, is it possible to run this in headless mode?

[2021-05-20 04:50] Flam3rboy commented on #7
duplicate of #4

[2021-05-20 04:50] #7 closed

[2021-06-15 17:01] akhil-kp-dasan opened #8 "TypeError: Cannot read property 'capture' of undefined when using the library inside a docker container"
I was trying to use this library inside a docker container using Xvfb tool. But I came across this issue where the getStream function only doesn't work reliably. Every now and then it throws this error:

[code]

It look like on some runs the `chrome` object has only keys available ` [ 'loadTimes', 'csi' ]` other times all the APIs are present. Not sure what would make rest of the keys unavailable

[2021-06-15 17:45] Flam3rboy commented on #8
Ok thank you for your big report I’ll have a look

[2021-06-21 15:21] tiger2380 opened #9 "[Bug] Stream to FFMPEG"
Hey. Is there a way to use the stream as the input of FFMPEG?

I tried to write the stream to a file and use the file as the input in my FFMPEG call but it is giving me an error. This is what I have so far:

[code]

This is the error that I am getting:
[code]

[2021-06-21 16:33] Flam3rboy commented on #9
Can you try this example: https://github.com/Flam3rboy/puppeteer-stream/blob/main/examples/ffmpeg.js

[2021-06-21 16:34] Flam3rboy commented on #8
It seems like I can't reproduce the issue, apparently chrome in docker can't capture tabs?

[2021-06-21 16:41] tiger2380 commented on #9
Perfect. That worked. I tried that but i was doing this "stream.pipe(ffmpeg)" instead of "stream.pipe(ffmpeg.stdin)".

Thanks for your help and great package.

[2021-06-21 16:41] #9 closed

[2021-06-23 11:55] gitdust opened #10 "Navigation timeout of 30000 ms exceeded"
first of all,thank you for making this amazing package.

and here is my problem:
I run a node.js server on windows,when I lock the screen,I got this error message: **Navigation timeout of 30000 ms exceeded**.And I met this problem when I use electron with desktopCapturer.

I wonder if there is a solution to let the code work right when screen has been locked.

[2021-06-23 12:20] Flam3rboy commented on #10
It seems like this is an issue from puppeteer and not specific to this package. Can you retry what you want to do, but without screen capturing. And if that does work can you provide an example to test it.

[2021-06-24 01:31] gitdust commented on #10
well, it's difficult to provide you an example about what I'm doing.
it seems that **page.goto()** function is hold there after **windows screen is locked**.
same problem when use desktopCapturer with electron.
I'will look into it and thank you for suggestion.

[2021-06-24 07:37] Aliaksandr-Kasko-JazzTeam commented on #8
Use this dockerfile
[code]
Also send `--no-sandbox` options to launch function:
[code]

[2021-06-25 21:11] #10 closed

[2021-07-04 05:17] TalkLounge opened #12 "/dist/PuppeteerStream.js was not updated on puppeteer-stream@2.0.4"

[2021-07-04 13:38] Flam3rboy commented on #12
fixed
[code]

[2021-07-04 13:38] #12 closed

[2021-07-13 04:21] amsdak15 opened #13 "[Bug] Page undefined error occurs sometimes"
Hello, thank you for your work!

I've been using puppeteer-stream for over a month now and it works perfectly.

However, sometimes it gives the following error at the starting of the code.

(node:20) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'page' of undefined at /app/node_modules/puppeteer-stream/dist/PuppeteerStream.js:79:63 at Generator.next (<anonymous>) at fulfilled (

[2021-07-13 04:52] Flam3rboy commented on #13
It says that if it can’t find the extension page, a workaround might be to wait a bit after starting and then get the page

[2021-07-13 05:10] amsdak15 commented on #13
Thank you for your immediate response.

So, adding `await new Promise(resolve => setTimeout(resolve, 5000));` after defining browser should be okay,right?

[2021-07-13 05:11] Flam3rboy commented on #13
I think i need to add it inside the launch option

[2021-07-13 05:18] amsdak15 commented on #13
Aah okay, thank you very much!

[2021-07-14 00:44] KennyHarrer opened #14 "[Bug] missing metadata"
[my code](https://hastebin.com/uqeximexot.js)

After messing around for awhile I learned that you have to use `--start-fullscreen` to get a full capture of the page you want to record. Video outputs, plays, however it seems to missing the "end time". Any idea how I would go about fixing this?

[Screenshot of playback bar in vlc](https://school.is-la.me/d2HJ5Cw.png)

[2021-07-14 05:00] Flam3rboy commented on #14
Oh this might be because the stream is immediately stopped and no end metadata is written. I’ll try what I can do about it

[2021-07-19 03:19] KennyHarrer commented on #14
https://github.com/yusitnikov/fix-webm-duration

[2021-07-25 12:47] amazing-tomotoshi commented on #13
Hello, thank you for your work!
I'm amsdak15's colleague.
Did you fix this bug?
It still occurred sometimes.

[2021-07-25 12:59] Flam3rboy commented on #13
It should be fixed now, the lib now ``waitForTarget``.
Also I would advise you to only start the browser once and if you need multiple streams open multiple tabs.
[code]

[2021-07-25 13:45] amazing-tomotoshi commented on #13
Thank you very much!
Did you release v2.0.6?
<img width="293" alt="スクリーンショット 2021-07-25 22 43 42" src="https://user-images.githubusercontent.com/67425518/126901353-dab0e413-2e7f-49e3-bac3-dfc1e664c2fc.png">
it seems that it is still v2.0.5

[2021-07-25 13:46] Flam3rboy commented on #13
oh yeah I published it to npm but forgot to push it to github

[2021-07-25 13:54] amazing-tomotoshi commented on #13
Aah okay, thank you very much!

[2021-07-25 14:57] amazing-tomotoshi commented on #13
this error occurred.
`(node:21) UnhandledPromiseRejectionWarning: Error: Failed to launch the browser process!`

this is our code.
`    const browser = await launch({
        // userDataDir: "./Default_3",
        defaultViewport: null,
        headless: true,
        //ignoreDefaultArgs: "--mute-audio",
        args: [
          "--autoplay-policy=no-user-gesture-required",
          '--start-ful

[2021-07-25 15:08] Flam3rboy commented on #13
https://stackoverflow.com/questions/59979188/error-failed-to-launch-the-browser-process-puppeteer

[2021-07-27 11:53] amjd commented on #14
This package works great on the overall, so thanks for that @Flam3rboy! While playing the generated videos, I came across the same issue. It's not possible to seek the video because of the missing metadata.

Integrating @KennyHarrer's linked solution might resolve this. I tried using it to post-process the video using Nodejs, but looks like the script is not designed to work on the server-side.

O

[2021-07-27 12:46] Aliaksandr-Kasko-JazzTeam opened #15 "[Bug] Wrong video size"
Even when I create browser with defined viewport (i.e. 300*600)
[code]
video size of recorded video will be 1920*1080.
What am I doing wrong?

[2021-07-27 22:03] KennyHarrer commented on #15
Hello Aliaksandr! Try adding `'--window-size=1920,1080', '--start-fullscreen'` to your args.

[2021-07-28 06:20] Aliaksandr-Kasko-JazzTeam commented on #15
Hi, @KennyHarrer.
No, it doesn't matter.
Even when I set ```args: ['--no-sandbox', `--window-size=${width},${height}`, '--start-fullscreen']``` or without `'--start-fullscreen'`. All the same. Video size is 1920*1080. I need it to be 300*600 in this case

[2021-07-28 09:00] KennyHarrer commented on #15
Have you tried setting the page view port?
`page.setViewport({width:300,height:600})`

[2021-07-29 07:49] Aliaksandr-Kasko-JazzTeam commented on #15
Yes, I tried this. And it has no effect.

[2021-08-04 19:42] tiger2380 opened #16 "[Question] How to send the stream to the client-side using websocket (ws package)?"
I would like to send the stream to the client-side using WebSocket. I'm pretty new to the pipe/nodejs, so sorry for the noobish questions.

I have created the websocket server using:
[code]

Thank you!

[2021-08-05 15:20] Flam3rboy commented on #16
I wouldn't suggest using ws for video transfer
https://betterprogramming.pub/video-stream-with-node-js-and-html5-320b3191a6b6
You can just pipe the stream to the http client:
[code]

[2021-08-05 15:20] #16 closed

[2021-08-05 15:21] #13 closed

[2021-08-17 20:08] KennyHarrer commented on #15
I am now also having this issue.

[2021-08-20 19:23] KennyHarrer commented on #14
Video output also seems to be corrupted. After fixing the video length with `ffmpeg -err_detect ignore_err -i test.webm -c copy test_fixed.webm` Video is missing audio, artifacts near the end, and is missing all motion.

[2021-08-20 19:25] KennyHarrer commented on #14
https://youtu.be/v6iCQW-1t4k

[2021-08-20 19:26] KennyHarrer commented on #14
Oddly enough the video plays fine on youtube... Not sure how that works. The video is still missing audio though.

[2021-09-20 21:08] InsideBSITheSecond opened #17 "Ending a stream without closing the whole page"
Hi,

Since .destroy kill the whole page and .pause and .resume do not allow ffmpeg to catch a stream on the fly, how does one close a stream without closing the whole page (in a way that allow to make a new one later on the same page) ?
I'm confused

Thanks

[2021-09-21 20:59] InsideBSITheSecond commented on #14
I fixed this by piping it to a ffmpeg instead of a fs stream
You do that by doing (this is assuming an audio stream)
`
const { exec } = require("child_process");
ffmpeg = exec(`ffmpeg -y -i - output.wav`);
stream.pipe(ffmpeg.stdin);
`

[2021-09-21 21:00] InsideBSITheSecond commented on #15
I fixed this by piping it to a ffmpeg instead of an fs stream
You do that by doing (this is assuming an audio stream)
(and you need to have ffmpeg binaries installed)
[code]

[2021-09-21 21:17] Flam3rboy commented on #14
This is an known bug of Media Encoder, but you could use @InsideBSITheSecond workaround

[2021-09-21 21:17] #14 closed

[2021-09-24 13:19] InsideBSITheSecond commented on #17
Fixed by #18

[2021-09-24 13:38] #17 closed

[2021-10-06 20:34] StianWiu opened #19 "Have output video appear as normal video file"
I understand this might be on purpose to allow easier streaming on websites but I'm not using it for a website and there aren't really any other good alternatives. Is there any way to either convert the file or toggle on/off so it won't be endless?

Anyways I love the project it works great for what it is supposed to do.

[2021-10-07 07:42] Flam3rboy commented on #19
This is because the MediaRecorder of chrome only is able to record webm video.
You need to convert it with [ffmpeg](https://github.com/Flam3rboy/puppeteer-stream/blob/main/examples/ffmpeg.js). See #14 and #9

[2021-10-07 07:42] #19 closed, assigned to nobody

[2021-10-07 19:56] Pignuuu commented on #19
One last thing. ffmpeg is absolutely tanking my cpu. I tried adding '-threads 1' but it hasn't made a dent. Know of any ways to minimize cpu usage?

[code]

[2021-10-20 20:47] I-Have-An-Issue opened #20 "[Question] Piping audio stream to express"
How can I pipe the stream from `getStream()` into an express response?

I have tried just using `stream.pipe(response)` ([as described in this issue](https://github.com/Flam3rboy/puppeteer-stream/issues/16)), but the client doesn't recognize it as a live audio stream.

While I understand *why* it makes the infinite request, I cannot find a way to produce the icecast-like result I am looking for in

[2021-10-20 20:54] Flam3rboy commented on #20
Chromes media recorder sadly only supports webm. So you either would have to pass it to ffmpeg to convert it or pipe the webm audio stream as a response.

[2021-10-20 20:55] I-Have-An-Issue commented on #20
Alright, I'll give that a shot.

[2021-10-20 22:38] I-Have-An-Issue commented on #20
Alright, I found a fix. Required me to switch to the http module, but it works now. Apparently, the pull request that fixed `stream.destroy()` never got pushed to NPM. I was getting quite confused why the tab was closing whenever I called it. All I did to get the updated version was just clone the repo and just require it. Hopefully, the pull request that fixes `stream.destroy()` gets pushed to NP

[2021-10-22 15:08] ppoturalskiEC opened #21 "Property 'destroy' in type 'Stream' is not assignable to the same property in ba se type 'Readable'."
After upgrading to 2.0.7 from 2.0.6 I start getting this error from tsc:

[code]

I bypass it by chaning `destroy(page?: Page): Promise<void>;` to `destroy(page?: any): Promise<void>;` in node_modules/puppeteer-stream/dist/PuppeteerStream.d.ts:8:5.
However that's a dirty fix.

Any ideas what could be wrong?

[2021-10-30 06:28] diohabara commented on #21
I'm also having the same difficulty.

This is the code I wrote.

[code]

When I execute `tsc --build`, I got the following error.

[code]

[2021-10-31 17:56] ptorrent opened #22 "Resolution issue"
Hello,

I'm using xvfb with this parameters:

-screen 0 1920x1080x16

And puppeteer-stream like that:

[code]

But I'm never able to get correct resolution.. If i print screen.width and screen.height (you can see it in the middle of screenshots), I correctyl have 1920x1080. With window.innerWidth / window.innerHeight I also have have good value ! Looks like an issue with the stream..

What I have

[2021-10-31 18:03] ptorrent commented on #22
maybe related to https://github.com/Flam3rboy/puppeteer-stream/issues/15

[2021-11-15 16:09] xerosanyam opened #23 "defaultViewport setting"
Do not use defaultViewport parameter, because
1. It doesn't resize the window correctly. The [correct syntax](https://peter.sh/experiments/chromium-command-line-switches/#window-size) is `width,height` it uses `widthxheight`
2. It neither sets the viewPort value correctly.

[2021-11-18 07:59] brodysctt opened #24 "[Question] Using puppeteer-extra plugins"
Would love to use the [adblocker plugin](https://github.com/berstend/puppeteer-extra/tree/95e0b260c8be0c7f88ae2058dadad454156783bb/packages/puppeteer-extra-plugin-adblocker) for my current project, and the [stealth plugin](https://github.com/berstend/puppeteer-extra/tree/95e0b260c8be0c7f88ae2058dadad454156783bb/packages/puppeteer-extra-plugin-stealth) for my next one.

I tried making a few adjustm

[2021-11-18 08:22] ariel-frischer opened #25 "[question] Does this support video alpha channel?"
Does this support a video alpha channel? I've noticed webm does support alpha background channel, and so does .mov but I'm not sure if this library enables it.

[2021-11-18 09:52] Flam3rboy commented on #24
How do you start the puppeteer browser? Can you show your launch code

[2021-11-18 09:55] Flam3rboy commented on #25
You would need to convert it using [ffmpeg](#9) because chrome only allows to record using [webm](https://github.com/Flam3rboy/puppeteer-stream/issues/19#issuecomment-937537304).

[2021-11-18 09:55] #25 closed

[2021-11-18 16:14] bscott4 commented on #24
I'm just running the `file.js` example as is – no changes made there

[2021-11-21 02:41] KennyHarrer opened #26 "outdated puppeteer version"
ERROR: https://www.toptal.com/developers/hastebin/umowehuwej.sql
not sure what else I can say... All I do is start a steam with:

`const stream = await getStream(tab, { audio: true, video: true, frameSize: 1000 })`

launch options:

`            browser = await launch({
                headless: false,
                args: ['--window-size=1080,1920', '--start-fullscreen', '--autoplay-policy=no-us

[2021-11-23 17:42] html5maker opened #27 "Screencast at 60fps"
Is it possible to use puppeteer-stream to record a screencast at 60fps?

[2021-12-02 11:46] kpachbiu88 commented on #21
Need to change destroy to destroyStream (for example) in files dist/puppeteerStream.d.ts line 8 and src/puppeteerStream.ts line 13

[2021-12-03 01:17] StuartGooding commented on #15
I believe that the background extension that is invoking the chrome.tabCapture.capture needs to allow for videoConstraints to be passed through to override the minWidth, maxWidth, minHeight and maxHeight of the video. I've found this can allow for the output video size to match your expected resolution.

[2021-12-10 20:06] TalkLounge opened #28 "Version 2.0.7 on npm missing extension fix"
Version 2.0.7 on [npm](https://www.npmjs.com/package/puppeteer-stream) is missing the [extension fix](https://github.com/Flam3rboy/puppeteer-stream/pull/11)
Version 2.0.5 on npm has the fix, on version 2.0.6 on npm I haven't tested it

[2021-12-10 21:01] Flam3rboy commented on #28
I can't reproduce it: I've downloaded the latest npm package and inspected it
and the extension fix is still in it:
![image](https://user-images.githubusercontent.com/34555296/145640736-f520700d-00f7-4bbf-89e0-2a5bd527fcab.png)

[2021-12-10 21:01] #28 closed

[2022-01-16 18:35] wesias7 opened #30 "Can you fix the background.js? (Screen resolution problem)"
[code]

then,

[code]

If you let me put the video constant value in, the problem will be solved. Make sure to write down the size you want.
- Solving the problem that's being recorded throughout the PC screen.
- Small windows can be recorded.

Nice program. I'll use it well.

[2022-01-17 22:05] toshvelaga opened #31 "Using FFmpeg underneath the hood?"
Hey great library! I am using it for a project as it seems to be the only one I could find that supports both video and audio. My question for you is how does the library work from a 10,000 ft overview. I am guessing it uses FFmpeg underneath the hood to capture the video and audio right? I am writing an article and wanted to mention this library as a good solution to quickly record. Thank you so

[2022-01-17 22:52] Flam3rboy commented on #31
It works by making use of the tab recorder api of chrome which is accessible by this puppeteer-stream browser extension, which is loaded on launch.
When you want to record a webpage, puppeteer-stream notifies the extension to start recording (with the specified parameters). After that chrome starts capturing the audio and video of the page in a MediaStream, which is then converted into multiple pa

[2022-01-18 02:40] toshvelaga commented on #31
Ok awesome thank you so much for this! Will include this in the article.

[2022-01-18 17:34] Flam3rboy commented on #31
I would love to read the article when you published it 😄

[2022-01-18 17:34] #31 closed

[2022-01-18 18:50] KennyHarrer commented on #26
updated error link: https://pastebin.com/raw/LF4pfdxA

[2022-01-18 19:23] KennyHarrer commented on #26
after adding in a missing await now im getting this error: https://pastebin.com/raw/XTwaFXng

[2022-01-18 19:26] Flam3rboy commented on #26
It looks like ``chrome.tabCapture`` isn't defined. What version of puppeteer are you using?

[2022-01-18 19:37] KennyHarrer commented on #26
![image](https://user-images.githubusercontent.com/71682824/150006633-216caafb-8754-4d71-b2a1-6b7a0098cc22.png)

[2022-01-18 19:51] toshvelaga commented on #31
Absolutely, just published it :):

https://medium.com/@toshvelaga/recording-webrtc-with-a-ghost-participant-using-puppeteer-104756e2be40

[2022-01-20 09:52] Flam3rboy commented on #26
It looks like you are using an outdated version of puppeteer, please upgrade to the latest one:
[code]

[2022-01-21 15:24] natashafenech commented on #30
I can confirm this works, any plans for this to get fixed?

[2022-01-21 20:23] wesias7 commented on #30
@natashafenech If reflected, even a small screen can be recorded. I'm using it.

[2022-01-21 20:59] KennyHarrer commented on #26
I did not update, however after I removed 2 flags from the launch args it started working. I currently cannot get to my computer to check which two resolved this issue, but I will let you know as soon as I find them.

[2022-01-21 22:37] cdemi commented on #30
@Flam3rboy shall we attempt to make a Pull Request for this fix?

[2022-01-21 23:07] Flam3rboy commented on #30
Yes, I would love to merge it 👍

[2022-01-24 09:00] natashafenech commented on #30
Perfect, just opened PR: https://github.com/Flam3rboy/puppeteer-stream/pull/32

[2022-01-26 12:45] akhfaern opened #33 "ffmpeg - no output file"
I've tried to run ffmpeg example but getting this error.

node:events:368
      throw er; // Unhandled 'error' event
      ^

Error: write EOF
    at WriteWrap.onWriteComplete [as oncomplete] (node:internal/stream_base_commons:98:16)
Emitted 'error' event on Socket instance at:
    at Socket.onerror (node:internal/streams/readable:773:14)
    at Socket.emit (node:events:390:28)
    at emitErrorNT

[2022-01-26 23:31] Flam3rboy commented on #33
Do you have ffmpeg installed globally?

[2022-01-27 07:12] akhfaern commented on #33
yeah it was but i think t got messed up after uninstall and reinstall it just worked but although it didnt give an error, it didnt create an output file either. am i missing something?

[2022-01-27 09:28] Flam3rboy commented on #33
Are you sure it didn't create one? from what directory are you executing the program?

[2022-01-27 19:02] akhfaern commented on #33
here is the console output
D:\nodejs\puppeteer-stream-test>node ffmpeg.js
recording

[main 2022-01-27T18:59:18.760Z] update#setState idle
[main 2022-01-27T18:59:18.979Z] ExtensionHostStarterWorker created
[main 2022-01-27T18:59:20.322Z] Starting extension host with pid 2680 (fork() took 40 ms).
finished
[main 2022-01-27T18:59:48.776Z] update#setState checking for updates
[main 2022-01-27T18:59:48.

[2022-01-27 20:43] Flam3rboy commented on #27
Sadly this is not possible with the [chrome tab capture](https://developer.chrome.com/docs/extensions/reference/tabCapture/) + [HTML5 Media Recorder](https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder) api

[2022-01-27 20:43] #27 closed

[2022-01-27 20:43] Flam3rboy commented on #26
@KennyHarrer any updates?

[2022-01-27 20:44] #30 closed

[2022-01-27 20:45] Flam3rboy commented on #23
resolved with #32

[2022-01-27 20:45] #23 closed

[2022-01-27 20:45] Flam3rboy commented on #15
resolved with #32

[2022-01-27 20:45] #15 closed

[2022-01-27 20:45] Flam3rboy commented on #22
resolved with #32

[2022-01-27 20:45] #22 closed

[2022-01-31 15:55] KennyHarrer commented on #26
Completely forgot about this, Ill try to get an answer to you by tonight.

[2022-02-02 17:42] #26 closed

[2022-02-05 12:45] euberdeveloper opened #34 "Better typescript types"
I am facing a problem with Typescript. You should export a type "PuppeteerStreamBrowser" that is returned when there is the launch. Otherwise either it will have to be implicit (so I can not explicitly write it in the code, e.g. in a class field type annotation) or, if the puppeteer's browser type is used, when getting the stream an `as any` is required, because the puppeteer browser is just a sup

[2022-02-05 12:46] euberdeveloper opened #35 "npm ignore does not ignore source code and tests"
It is a good practice not to include the source code and the tests in the published npm package

[2022-02-05 13:00] euberdeveloper opened #36 "Errors with Typescript"
When transpiling with Typescript I obtain these errors:

[code]

Version of ts: 4.5.5
Version of your lib: 2.0.8

[2022-02-05 14:14] euberdeveloper opened #37 "Update puppeteer dep"
I have issues with high severity if I run npm audit. Could it be possible to update the puppeteer version?

Btw, thanks for the package, I am using it to [scrape](https://github.com/euberdeveloper/bbb-video-scraper) some video lectures that otherwise I could not download and put at 2x velocity and, a part from some small bugs, it is working great!

[2022-02-05 15:41] Flam3rboy commented on #34
PuppeteerStream doesn't add any properties to the puppeteer browser instance, but I'll explicitly define the return type of the launch method 👍

[2022-02-05 15:49] #34 closed

[2022-02-05 15:49] #35 closed

[2022-02-05 15:49] #36 closed

[2022-02-05 15:49] #37 closed

[2022-02-05 18:36] euberdeveloper commented on #37
👍🏻

[2022-02-05 18:40] Flam3rboy commented on #21
fixed with fef0a6f

[2022-02-05 18:40] #21 closed

[2022-02-05 18:47] euberdeveloper commented on #34
It is true, but maybe I have a different error

The problem is here: https://github.com/euberdeveloper/bbb-video-scraper/blob/a949a084a8027cf68a9d456e81c22713ea9548cd/source/utils/scraper.ts#L130

If I use the puppeteer types, the method complains that it is missing some methods, probably because the Page you return is modified

Also by returning it again one has not to put puppeteer as dependency

[2022-02-06 00:04] euberdeveloper commented on #36
Hi, I've just tried. It fixes all of those errors but one:

[code]

I can't reopen the issue so I create a new one.

[2022-02-06 00:05] euberdeveloper opened #38 "Typescript issue not perfectly fixed"
Hi, I've just tried. It fixes all of those errors but one:

[code]

I can't reopen the issue so I create a new one.

_Originally posted by @euberdeveloper in https://github.com/Flam3rboy/puppeteer-stream/issues/36#issuecomment-1030717161_

[2022-02-06 18:28] Flam3rboy commented on #38
I'll fix it, but when you build your project, typescript shouldn't type check node_module dependencies.
You can configure it inside tsconfig.json.

[2022-02-06 18:46] euberdeveloper commented on #38
Thanks!

But to be checked are not the .ts but the .d.ts, shouldn't the type declarations that are used be checked?

[2022-02-06 18:47] euberdeveloper commented on #38
I tried it, it could be convenient, the transpilation takes half of the time👍🏻

[2022-02-19 06:03] toshvelaga opened #39 "livestreaming to twitch using ffmpeg"
Hi there. I have a webRTC application that I am trying to add livestreaming to. I am trying to set up a small test where I can livestream to twitch using puppeteer-stream and ffmpeg. It seems as if I am only sending data to twitch right before the script ends. Do you know what I am doing wrong in the code below? Thank you!

[code]
Right before the script ends loading indicator shows up
<img width=

[2022-02-19 09:04] Flam3rboy commented on #39
Have you tried increasing the timeout just for testing?

[2022-02-19 09:05] toshvelaga commented on #39
yeah I've tried increasing it to 80, similar result

[2022-02-19 09:06] Flam3rboy commented on #39
Can you send the logs of your script?

[2022-02-19 09:11] toshvelaga commented on #39
hmmmm, so I actually ran it again and it actually started working this time. Here's the code: https://github.com/toshvelaga/webrtc-video/blob/main/test.js it's all open source atm

[2022-02-19 09:12] Flam3rboy commented on #39
I can't access it 😂

[2022-02-19 09:13] Flam3rboy commented on #39
When I try it, I get this error:
[code]
So its seems like ffmpeg is having a problem with webm

[2022-02-19 09:14] toshvelaga commented on #39
Sorry about that haha, this should work now: https://github.com/toshvelaga/webrtc-video/blob/main/test.js

[2022-02-19 09:18] Flam3rboy commented on #39
It works when I change the ffmpeg config to:
[code]

[2022-02-19 09:24] toshvelaga commented on #39
ok awesome, thanks so much! Both our configs seem to be working but yours seems to be producing more reliable results i think. If I can get this to work in production I'll right another blog post about it :).

<img width="1224" alt="Screen Shot 2022-02-19 at 2 17 37 AM" src="https://user-images.githubusercontent.com/38474161/154794907-8367408a-08b3-4320-a120-bec7e2d46327.png">

[2022-02-19 09:24] #39 closed

[2022-03-02 18:19] Jackgreiner91 commented on #33
I'm seeing the same issue

[2022-03-03 13:21] Muratcol opened #40 "Is it possible to run it headless instead of headful?"
I am using WSL2 and puppeteer is not working headful.  Throws the following error:

[code]

Can we update the package to work also headless?

Anyone have a recommendation?

[2022-03-03 13:39] Flam3rboy commented on #40
duplicate of #4

[2022-03-03 13:39] #40 closed

[2022-03-03 13:40] Flam3rboy commented on #40
Tho you can setup an X-Server for wsl. Sometime ago I've managed to setup the xfce desktop environment on wsl, but I can't find the guide again.
Search for ``wsl setup xserver`` or try this guide: https://medium.com/javarevisited/using-wsl-2-with-x-server-linux-on-windows-a372263533c3

[2022-03-08 13:29] simllll opened #41 "multiple tabs"
Thanks for this amazing thing,
I'm using this quite heavily to stream our dashbaords to chromecasts :) I'm looking into performance optimizations right now, and tried to use one browser instance with multiple tabs instead of a single browser instance for each stream. Unfortunately this doesn't seem to work correctly, ffmpeg errors with weird errors like " Stream map '0:a' matches no streams."

Is

[2022-03-12 03:29] codeAshu commented on #33
Use this to end the stream instaead of `stream.destroy`
[code]
I also removed
[code]

[2022-03-12 12:30] Flam3rboy commented on #33
@codeAshu great, I'll update the example script 👍

[2022-03-30 05:50] Livan-pro commented on #4
Found interesting comment in chromium issue about extension support in headless mode: https://bugs.chromium.org/p/chromium/issues/detail?id=706008#c36.
@Flam3rboy, could you take a look? Does it help?

[2022-03-30 05:52] Flam3rboy commented on #4
@Livan-pro this looks promising, I'll try it later 👍

[2022-04-01 16:55] stevebutterworth commented on #24
Any progress on this? I love the extension but need to be able to use it with puppeteer-extra too.

[2022-04-02 19:14] mmohammadi9812 opened #42 "browser closes immediately after starting stream"
Hi there
I'm trying to use this library to record a page, but it gets closed after stream starts piping to file

this is the code:
[code]
I tried the `ffmpeg` example too, but in both cases, as soon as I see `recording` on console, the browser closes without any error or warning on console

thanks for this library, and I'd appreciate if anyone can help

[2022-04-02 19:52] mmohammadi9812 commented on #42
Ok, I came to this from an stack overflow question, but I think I'm in the wrong place and didn't read description properly
Sorry, closing

[2022-04-02 19:52] #42 closed

[2022-04-03 13:53] ryanjt commented on #4
Can confirm this works by adding this to the launch options i.e
`browser = await launch({
        args: ['--headless=chrome']
	});`

[2022-04-04 08:58] ArslanMehmoodTkxel commented on #8
so this library is not working in docker at all or there is some specific scenario for this?

[2022-04-09 16:55] varunk29 opened #43 "Recording is taking alot of CPU"
is there any way to optimize it, it seems to take a lot of CPU when I start recording,

- I tried lowering the resolution to 720p from 1080p, it takes a bit less CPU usage m but it is still high
@Flam3rboy  thanks for the repo

[2022-04-09 17:15] Flam3rboy commented on #43
If you don't need audio, I recommend the chrome dev tools screencast API, which has better performance and the [puppeteer-screen-recorder](https://www.npmjs.com/package/puppeteer-screen-recorder).

[2022-04-09 17:24] varunk29 commented on #43
ill need audio, I'm trying to record a webrtc call

[2022-04-09 18:31] varunk29 commented on #43
I see you're using an extension for recording audio and video,
- can the extensions work on headless mode?

[2022-04-09 20:09] Flam3rboy commented on #43
#4

[2022-04-14 14:18] danielgobona opened #44 "Wav mimeType not working"
I am using this stream config
`await getStream(page, { audio: true, video: false, mimeType: "audio/wav"});`
I stream to file, but it stops after 5 seconds and final file has 0b.

[2022-04-14 18:13] Flam3rboy commented on #44
you can't use audio/wav, because chromium's tab recorder api only supports audio/webm

[2022-04-14 18:13] #44 closed

[2022-05-02 20:12] simllll commented on #41
@Flam3rboy  anything I can do to get this issue solved? :) Any ideas what could be the issue?

[2022-05-03 14:04] Flam3rboy commented on #41
I'll later look into it 👍

[2022-05-06 16:01] megan0n commented on #43
In ```PuppeteerStream.js```, ```opts.frameSize``` is set to ```20``` by default.
It is then passed to```extension/background.js``` where it is consumed by ```recorder.start(opts.framesize)```.
Set ```opts.frameSize``` to >= ```1000```. It should generate a Blob every 1000ms, not every 20ms.

[2022-05-06 20:15] varunk29 commented on #43
I tried that, but it still didn't help in reducing CPU usage

[2022-05-20 15:55] SofiaFukushima opened #45 "Video its 00:00:00 long"
Hello! I already have the stream recording but when this finish the video appears that it has 00.00.00 sec recorder. When i touch on the video i can see it but i can't go forward or anything, even i'm trying to compress but it says that the video doesn't have any time to compress.

[2022-05-20 18:47] Flam3rboy commented on #45
yeah, thats sadly a problem with the chromium's tab recorder api, which I can't fix.

[2022-05-20 18:47] #45 closed

[2022-05-21 02:14] alvitoraidhy opened #46 "GNU v2 or ISC?"
Hi. The `package.json` says that this package is licensed under ISC, while the repo has the GPL-2.0 as the license. I would like to ask which license would apply if I want to use the package?

[2022-05-21 11:36] Flam3rboy commented on #46
I'll change to the MIT license

[2022-05-21 11:36] #46 closed

[2022-05-21 13:13] alvitoraidhy commented on #46
Thanks :smiley:

[2022-05-22 23:11] ganganimaulik opened #47 "add functionality to use stealth & other extra plugins"
https://github.com/ganganimaulik/puppeteer-stream/blob/main/src/PuppeteerStream.ts

I had to modify source file here for quick solution but we should add method to pass browser variable instead of creating it in package ?

what you think?
willing to add pr if you're busy.

[2022-05-26 05:49] alan1420 commented on #24
#48

[2022-06-02 15:51] SofiaFukushima commented on #45
Well I get a solution for this and to compress the video, with ffmpeg convert it into mp4, the space its the half that used to use, and the video have seconds now.
I use:
ffmpeg -i videoPath/name.mkv -max_muxing_queue_size 1024 videoPath/name.mp4
Hope this would help other too.

[2022-06-05 21:04] atulmy opened #49 "Reduce recording time"
Currently to record a video of 5 minutes, we've to set time out for 300000, which is not really efficient. Is there a way to speed up the task, for example speeding up internal recording so that if there is enough machine resources, the recording for 5 min video is actually finished in 30 seconds?

Any help or thoughts would be really appreciated.

[2022-06-06 00:14] Flam3rboy commented on #49
The plugin just records the browser window, so if you would want to speed up the recording you would have to increase the fps and e.g. speed up the video/animation that are playing in the browser.

[2022-06-06 14:40] JijaProGamer opened #50 "puppeteer-stream is using using the resolution of the screen instead of the resolution of the browser"
So puppeteer-stream is recording the video in 1440x900 (The resolution of my screen) instead of 1350x2400 (The resolution of the browser)

The code to record is this:

[code]

[2022-06-17 03:27] alvitoraidhy commented on #50
Hi. I managed to record to a resolution that I desired using this code. Hopefully it helps
[code]
In my case I set width and height to 1280 and 720.

[2022-06-17 03:28] alvitoraidhy commented on #50
Hi. I managed to record to a resolution that I desired using this code. Hopefully it helps
[code]
In my case I set width and height to 1280 and 720.

[2022-06-18 07:29] JijaProGamer commented on #50
Thanks, but I started using ffmpeg to record the browser so I cannot test this method. But thanks anyways!

[2022-06-19 05:50] imbdb opened #52 "stream doesn't work when "--use-fake-ui-for-media-stream" argument is passed"
I need to record a page which needs access to webcam and mic. After passing `"--use-fake-ui-for-media-stream"`, stream is not working and recording results in a zero byte page.

example

[code]

[2022-06-19 06:50] imbdb commented on #52
Workaround
We can use overridePermissions instead of the argument `--use-fake-ui-for-media-stream`

[code]

[2022-06-23 07:08] ksharp1982 opened #54 "stream.pipe(file), file content is empty??why?"
hello , i use the puppeteer-stream,  save the stream to file ,but the webm file  is empty !! Mac system,,thank you

[2022-06-25 12:15] atulmy commented on #50
@JijaProGamer that is interesting. Can you point me in direction or code sample for using ffmpeg directly to record the browser tab?

[2022-06-30 12:54] DantrazTrev opened #57 "Fixed duration of videos"
Currently recording to a file using timeout as a measure leads to inaccurate video lengths depending on the processing that needs to be done . Can there be any alternative here ?

[2022-06-30 13:27] JijaProGamer commented on #54
Can you show us the code you used?

[2022-06-30 13:32] JijaProGamer commented on #57
Can you use ffprobe to get the duration writen to the file metadata? Also, you can try to re-encode it using ffmpeg since that most of the time solves issues with duration for me.

[2022-07-04 06:46] DantrazTrev opened #58 "Audio/Video out of sync"
While recording a video playback , I noticed some sync issues with audio and video . Is there something similar anyone has faced ?

For context : I'm recording a 1080p video from a local server

[2022-07-21 06:48] PradyumnTiwari opened #60 "[Question] How to pause recording on media buffering and re-record after media is loaded"
Hello team,
Thank you so much for this awesome NPM.
Currently, I am facing an issue, which is -  I am recording and video by HTML video editor (which is developed by my team), there are lots of media is running at the same time. The issue is when I am recording the video, my media is buffering to load in the browser and it is also recorded, so I want to pause the recording on buffering time, and a

[2022-07-21 19:45] Flam3rboy commented on #60
It could be possible to use the .pause() function of the MediaRecorder api, which this package uses to record the webpage:
https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder/pause
But you would have to look into the source code of this package to make it work.

[2022-07-28 08:38] zirismetov commented on #52
![image](https://user-images.githubusercontent.com/65970229/181461037-4349ba3d-eb0e-4135-83c8-5f98fa81bd7f.png)
![image](https://user-images.githubusercontent.com/65970229/181461117-d9288c74-b942-4c0e-b584-333b967201ff.png)
Any ideas how to fix that ?

[2022-07-28 21:55] DantrazTrev opened #61 "Unsupported mimeTypes can be removed from BrowserMimeType"
The current browser mime type type allow's values that are not supported by MediaRecorder API
https://github.com/Flam3rboy/puppeteer-stream/blob/c55492edc9fc6421e095cb173eff4cf8359431bf/src/PuppeteerStream.ts#L118-L129

A list for supported mimetypes can be drawn from the Chromium source code
https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/web_tests/fast/mediarecorder/Me

[2022-07-28 21:58] Flam3rboy commented on #61
done in 8109e4e

[2022-07-28 21:58] #61 closed

[2022-07-30 14:56] imbdb commented on #52
Closing Issue as I think the workaround is the way to go.

[2022-07-30 14:56] #52 closed

[2022-08-30 02:55] BrandonQDixon opened #62 "[Question] How can I stream directly via express.js?"
I have an express js server and I want to create an endpoint to stream the output "Stream" object as a live video. I've got everything setup where I create the browser instance, page object, send the html, and get the stream object, but from there, I'm not sure how to create the endpoint to actually allow a consumer to stream it as a video. I know this isn't directly related to this library but an

[2022-08-30 08:44] Flam3rboy commented on #62
Write this in your route handler:

`stream.pipe(response)`

[2022-08-30 14:32] BrandonQDixon commented on #62
Ah, thanks! I was focusing on making the reverse work the whole time, response.pipe(stream). I can see that the stream is emitting continuously, but if you don't mind, I'd like to ask how I can encode it in such a way that a video element can play it?

[2022-08-30 16:49] Flam3rboy commented on #62
you have to set the content-type response header:
[code]

[2022-08-30 19:54] BrandonQDixon commented on #62
It looks like from the client, I won't be able to plug the endpoint src right into a video HTML element. After trying this, the video element perpetually shows a loading icon. Will I need to open an http request, parse into some type of buffer or series of blobs, and feed each blob into the video one by one?

[2022-08-30 19:57] Flam3rboy commented on #62
Maybe this will help:
https://stackoverflow.com/questions/66644023/html5-is-it-possible-to-live-stream-a-webm-as-its-being-generated
https://github.com/yomguy/stream-m

[2022-08-30 20:10] BrandonQDixon commented on #62
Thanks for the references! After reading those, plus debugging a bit, I believe my server is still not delivering the stream correctly. I've also tried to open the stream on VLC media player and am experiencing basically the same issue, it is always loading and the video is never being rendered. I believe my issue is that the "GET" endpoint is continuously sending data and never stops. but the cli

[2022-08-30 20:15] antoniott15 commented on #62
same issue here, when i log the pipe data seems that data has created but is never sended to the client
`
    stream.pipe(res, { end: false })
    stream.on('data', (data) => {
        console.log(data)
    })
`

[2022-08-30 20:19] BrandonQDixon commented on #62
In my case, I can see that I'm getting data to the client by opening the stream url directly, I think I'm just not quite sending it back correctly. Are you using a 'GET' method for this?

[2022-08-30 20:22] antoniott15 commented on #62
yes!

[2022-08-30 20:22] BrandonQDixon commented on #62
Actually, thank you for sharing those headers! With those, I was able to get mine working. The stream has about a 30 second delay, both for the video rendering on my HTML and for changes in the source to be reflected on the webpage. I'm fine with that level of delay. I'm not sure why it isn't working in your case though, is the stream happening correctly before that? I don't know if it makes a dif

[2022-08-30 20:41] BrandonQDixon commented on #62
I don't know if it makes a difference, but maybe change "/" to "/video.webm". What is the purpose of the 206 header? I'm not using that in mine.

[2022-08-30 20:43] antoniott15 commented on #62
as far as i know needs to be used when sends ranges of data

[2022-08-31 17:26] antoniott15 opened #63 "[Question] How can you specify the quality of video?"
are the options
[code]
the things that manage video quality? what do I need to choose if I want 4k or 1080p? also, does frame size specify the frame rate? like 60fps?

[2022-09-01 06:57] Flam3rboy commented on #63
These options are quality options for encoding: https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder/MediaRecorder
To change the resolution pass the videoConstraints option

[code]

and change the page viewport:

[code]

[2022-09-01 15:29] antoniott15 commented on #63
I'm on version 2.1.1 of puppeteer-stream, and I don't see an option called videoConstraints, where should I put it?

[2022-09-02 19:20] Sed9yDataBank opened #64 "[QUESTION] How to stop recording on button click"
Puppeteer navigates to a certain web page and starts recording it. I want to be able to stop the recording when an external user click on a button on that certain webpage. Is This possible? (I tried setting an Event Listener but it doesn't work)

Currentley in README there is this but it is not what I want / stopping the recording with`setTimeout`

[code]

[2022-09-06 23:32] jonmumm commented on #62
@BrandonQDixon I'm trying to do this same thing—bychance do you have a working sample code you could post? I'm seeing the same issue where the webm player in chrome just keeps spinning. I see a few bytes come in over the stream when setting up the `data` listener, but then it stops sending bytes

[2022-09-08 17:34] takisp08 opened #65 "ProtocolError: Protocol error (Page.navigate): Target closed."
Hello, on puppeteer-stream on launch browser send error ProtocolError: Protocol error (Page.navigate): Target closed. But not only on one pc, I try to differents pc but  again  i have this error. This error only if launch with executable path. (eg Google Chrome)

[2022-09-09 16:45] soklaymb commented on #65
@takisp08
I also faced the same issue when using the latest Chrome. However, when I switch to Chrome version 101.0.4951.64-1, it works normally.

[code]

[2022-09-15 11:02] takisp08 opened #66 "Yes working now"
Yes, I try this and working perfectly. Thanks!

[2022-09-15 11:03] #66 closed

[2022-09-15 11:03] takisp08 commented on #65
Yes, I try this and now working. Thanks!!

[2022-09-15 11:34] #65 closed

[2022-09-25 21:59] stefantofan opened #67 "Record multiple pages at the same time"
Is it possibles to record multiple pages at the same time ? If so, how can i accomplish this?

[2022-09-26 00:42] mboussaid opened #68 "can't record the stream for a localhost or anything local"

[2022-09-26 05:54] TofanStefan commented on #41
@simllll Did you manage to record multiple browser instances at the same time?
I've made an endpoint for recording a page, if I call this endpoint 2 times, only the first call reproduces a valid webm file, the file for the second call is 0 kb

[2022-09-26 06:09] simllll commented on #41
Yeah, the issue is quite easy to fix... Check out https://github.com/Flam3rboy/puppeteer-stream/pull/55

[2022-09-26 17:40] TofanStefan commented on #41
@simllll Thanks alot! I've ran into a problem... It says "Property '_getTargetInfo' does not exist on type 'Target'".
I tried installing puppeteer 15 and I stii get the same error

[2022-09-29 18:56] liyikun opened #69 "getStream is not work"
[code]
"recording2" do not print, because getStream method is block.

[2022-09-30 07:09] liyikun commented on #69
Apple M1 Pro

[2022-09-30 07:10] liyikun commented on #69
browser  101.0.4951.64

[2022-10-01 05:04] JijaProGamer commented on #69
My problem resolved when I deleted all my args and ignoreHTTPSErrors. Can you try that and tell me if it works?

[2022-10-02 15:55] liyikun commented on #69
it works, but i need there args.

[2022-10-02 15:55] liyikun commented on #69
it works, but i need there args.

[2022-10-04 09:36] liyikun commented on #69
Is there anything else you can do?

[2022-10-05 12:19] varunk29 opened #70 "Is it possible to record multiple streams from a same tab"
Hey, @Flam3rboy hope you doing great.

I'm trying to record audio and video files separately
For video
`this.stream = await getStream(this.page, {
                    audio: true, video: true
 });`
this.stream.pipe(this.file);

For Audio
`this.audioStream = await getStream(this.page, {
                    audio: true, video: false
 });`

but I noticed the video file is empty, can tabCapture be cal

[2022-10-05 12:22] liyikun commented on #69
@Flam3rboy hi, Have you ever met

[2022-10-27 03:13] darloski opened #71 "How do I set or determine the sample rate for an audio stream?"
I am trying to set or determine the sample rate for the audio stream being captured but have no idea. Where or how can I determine that value?

thanks

[2022-11-03 15:14] Ugur22 opened #72 "How to combine puppeteer-stream with puppeteer-cluster to record multiple pages at once"
Hi @Flam3rboy ,

I'm loving this extension it really works well even in headless mode. I was wondering if there was a way to combine puppeteer-stream with [puppeteer-cluster](https://github.com/thomasdondorf/puppeteer-cluster) to record multiple pages at once.

This is my Puppeteer-cluster configuration would you know how to make it so I have access to the getStream function of puppeteer-stream? S

[2022-11-08 10:37] dokicro commented on #50
Are you getting better performance by using ffmpeg for screen capturing?

[2022-11-09 01:47] unicornsoftwareinc opened #74 "Randomly get Error: Evaluation failed: ReferenceError: START_RECORDING is not defined"
Hi there, I'm running this on an AWS instance and I'd say every 1 in 10 or 1 in 20 executions, I see the following error:

`Error: Evaluation failed: ReferenceError: START_RECORDING is not defined
    at __puppeteer_evaluation_script__:3:13
    at ExecutionContext._evaluateInternal (/home/webinarkit/code/webinarkit-social-streaming/node_modules/puppeteer/lib/cjs/puppeteer/common/ExecutionContext.j

[2022-11-16 20:40] Sed9yDataBank opened #75 "Not Passing frameSize to MediaRecorder start Function"
@Flam3rboy 👋 why are you passing a `timeslice` here https://github.com/Flam3rboy/puppeteer-stream/blob/10ea8e918119f01f5d7028b77d082c963ab2b342/extension/background.js#L70 ? Here as well https://github.com/Flam3rboy/puppeteer-stream/blob/10ea8e918119f01f5d7028b77d082c963ab2b342/src/PuppeteerStream.ts#L143 Is there a particular reason?

Not having a `timeslice` can let the UA optimize the way it ha

[2022-11-16 20:46] Flam3rboy commented on #75
Because else the browser would not continuously stream the blobs and instead would create one big blob after the recording is finished.
However, this package needs a continuous stream for live streaming the puppeteer browser window for the specified usage (e.g. being able to live stream what puppeteer does).

[2022-11-16 20:46] #75 closed

[2022-11-16 20:47] Flam3rboy commented on #75
If you don't need live streaming, you could add PR with a option to not pass the frameSize

[2022-11-17 08:27] Sed9yDataBank commented on #75
@Flam3rboy thanks for explaining 🥇 I will look into opening a PR containing the changes for a review as you said.

[2022-11-18 06:27] JijaProGamer commented on #50
Yeah. With puppeteer-stream it uses VP8 software video encoding and libopus software audio encoding. With ffmpeg you could just copy the video stream (You should use a hardware encoder tho, its fast and barely uses storage) and you can just copy audio from ALSA, Pulseaudio or windows drivers

[2022-11-18 13:50] ductuannguyen1999 commented on #74
Is there any update to this issue yet? I'm having the same error while trying to run in a Docker container.